.card-container{
    width: 330px;
    height: 110px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 0.5rem;
    min-height: 110px;
    padding: .8rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.card-container__header{
    display: flex;
    align-items: center;
}

.first-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.card-container__content{
    display: flex;
    justify-content: space-between;
}

.card-container__content > div{
    display: flex;
    flex-direction: column;
}

.card-type{
    display: flex;
    align-items: center;
    gap: .4rem;
}