*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

a{
    text-decoration: none;
}

#root{
    height: 100%;
}

/* ====== Formularios */
.auth-form{
    display: flex;
    flex-direction: column;   
    align-items: center;
    gap: 0.9rem;
}

.general-form > div{
    position: relative;
    height: calc(40px + 0.9rem);
    width: 100%;
}

.general-form .error-text{
    color: red;
    font-size: 0.7rem;
    display: block;
    width: 100%;
    text-align: left;

    position: absolute;
    bottom: 0;
    animation: showInputError .2s ease-in;
}

