.container{
    height: 100%;

    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 70px 1fr;
    gap: .5rem;
    grid-template-areas: "toolbar toolbar "
                         "sideNav modules"
}

.toolbar{
    grid-area: toolbar;
}

.sideNav{
    grid-area: sideNav;
    height: calc(100% - .5rem);
}

.modules{
    padding: .5rem;
    height: calc(100% - .5rem);
    grid-area: modules;
    /* height: calc(100vh - 77px); */
}

/* ======= Card styles =======*/
.tab-container{
    display: 'flex';
    flex-direction: "column";
    align-items: "center";
    width: 100%;

    overflow-y: auto;
}

.cardList-wrapper{
    display: grid;
    width: 90%;
    justify-items: var(--aling, center); 
    
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 1rem;
}

.form-dialog{
    padding: 1rem;
    grid-template-columns: 1fr 1fr;

    display: grid;

    gap: .8rem;
 
}

.credit-card-areas{
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"cardName cardName"
                        "cvc expirationDate"
                        "courtDate paymentDate "   
}

.debit-card-areas{
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:"cardName cardName"
                       "cvc expirationDate"
 
}

.cvc{
    grid-area: cvc;
}
.cardName{
    grid-area:cardName ;
}
.expirationDate{
    grid-area: expirationDate;
}
.courtDate{
    grid-area: courtDate;
}
.paymentDate{
    grid-area: paymentDate;
}

/* ======== Cards styles ========*/
.card-container, .loan-container{
    width: 330px;
    height: 110px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 0.5rem;
    min-height: 110px;
    padding: .8rem;
    gap: .5rem;
    display: flex;
    flex-direction: column;
}

.loan-container{
    width: 350px;
}

.card-container__header, .loan-container__header{
    display: flex;
    align-items: center;
}

.first-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.card-container__content, .loan-container__content{
    display: flex;
    justify-content: space-between;
    gap: 1rem
}



.card-container__content > div, .loan-container__content > div{
    display: flex;
    flex-direction: column;
}

.card-type{
    display: flex;
    align-items: center;
    gap: .4rem;
}

@media(min-width: 900px) {
    .cardList-wrapper{
        --aling: left;
    }
}

@media(width <= 660px) {
    .cardList-wrapper{
        --aling: center;
    }
}